@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap");

/* CSS Reset */

/* Remove default margin, padding, and list styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Ysabeau Infant", sans-serif;
}

/* Reset font styles to improve consistency */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Ensure elements take up the full width of their container */
img,
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* Remove default hyperlink styles */
a {
  color: inherit;
  text-decoration: none;
}

/* Set box-sizing to border-box for easier layout calculations */
*,
*::before,
*::after {
  box-sizing: border-box;
}
